<!DOCTYPE html>
<html lang="ko">
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/st/userinfostyle.css">
<body>
  <div class="container">
    <h1>사용자 정보</h1>
    <p><%= user.userid %>님 어서오세요!</p>
    <hr>
    <!-- 실제 로그아웃 기능이랑은 다름! -->
    <a href="/">로그 아웃</a>
    
    <form id="userinfo-form">
      <div class="input-container" id="id-container">
        <i class="fas fa-user"></i>
        <input type="text" name="userId" value="<%= user.userid %>" readonly>
      </div>
      <div class="input-container">
        <i class="fa-solid fa-signature"></i>
        <input type="text" name="userName" value="<%= user.username %>">
      </div>
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input type="password" name="userPassword" value="<%= user.userpassword %>">
      </div>
      <div class="join-date">
        <i class="fa-solid fa-calendar-days"></i> join date: <%= user.singuptime %>
      </div>
      <button type="button" onclick="editinfo()">정보 수정</button>
      <button type="button" onclick="deleteinfo()">회원 탈퇴</button>
    </form>
  </div>
</body>
<%- include('partials/tail.ejs') %>
</html>